<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
   <div id="counter-event-example"> 
        <p>{{total}}</p>
        <buttom-counter v-on:increment="incrementTotal"></buttom-counter> 
        <buttom-counter v-on:increment="incrementTotal"></buttom-counter>

    </div>
    <script>
        Vue.component('buttom-counter', {
            template: '<button v-on:click="increment">{{counter}}</button>', 
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                increment: function () {
                    this.counter += 1
                    this.$emit('increment') //$emit 返回 shouldPropagate，shouldPropagate 是一个布尔值，
                    //取决于父链上的是否存在该事件的监听器以及，事件处理程序返回的值。他决定 $dispatch 是否停止冒泡。
                }
            }
        })
        new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function () {
                    this.total += 1
                }
            }
        })
    </script>
</body>

</html>